{% if images %}
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th>
                    File
                </th>
                <th>
                    Status
                </th>
                <th>
                    Date Created
                </th>
                <th>
                    Date Updated
                </th>
                <th width="20%">
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            
            {% for image in images %}
                <tr>
                    <td>
                        <a href="#" data-toggle="modal" data-target="#imageModal" data-imageUrl="{{image.image.url}}">{{image.image}}</a>
                    </td>
                    <td>
                        {{image.status}}
                    </td>
                    <td>
                        {{image.created_at}}
                    </td>
                    <td>
                        {{image.update_at}}
                    </td>
                    <td>
                        <button hx-post="{% url 'images:archive' image_id=image.id %} " hx-target="#image-list" hx-swap="innerHTML" type="button" class="btn btn-primary">Archive</button>
                        <button hx-post="{% url 'images:delete' image_id=image.id %} " hx-target="#image-list" hx-swap="innerHTML" type="button" class="btn btn-danger">Delete</button>
                    </td>
                </tr>
            {% endfor %}
                
        </tbody>
    </table>
{% else %}
    <div>
        <h2>No images found.</h2>
    </div>
{% endif %}